body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    background: #0f0f10;
    color: #e6e6e6;
    padding: 20px;
}

/* Заголовок */

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Статистика */

.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* Прогресс */

.progress-bar {
    width: 100%;
    height: 8px;
    background: #222;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

#progressFill {
    height: 100%;
    width: 0%;
    background: #7b1e3a;
    transition: width 0.3s;
}

/* Панель ввода */

.input-panel {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #1c1c1e;
    color: white;
}

select {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #1c1c1e;
    color: white;
}

button {
    background: #7b1e3a;
    border: none;
    color: white;
    padding: 10px 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #a22a4c;
}

/* Категории */

.category-panel {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

#categories {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#categories button {
    background: #1c1c1e;
    border: 1px solid #333;
    padding: 6px 10px;
}

#categories button:hover {
    background: #7b1e3a;
}

/* Фильтры */

.filters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

/* Карточки задач */

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1a1a1c;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: 0.2s;
}

.task:hover {
    transform: translateY(-2px);
    background: #202022;
}

.task span {
    cursor: pointer;
}

.task small {
    color: #999;
    margin-left: 10px;
}

.task.done span {
    text-decoration: line-through;
    color: #777;
}

/* Стрик */

.streak {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}
.task-panel {
    position: sticky;
    bottom: 0;
    background: #0f0f10;
    padding: 10px;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}